.join-us__paragraph {
  font-family: "Roboto";
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 60px;
}

@media screen and(min-width: 480px) {
}
@media screen and(min-width: 768px) {
  .join-us__paragraph {
    margin: 0;
  }
}
@media screen and(min-width: 1200px) {
  .join-us__paragraph {
    margin-top: 13px;
  }
}
