.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--light-blue);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: none;
}

.menu-container.is-open {
  transform: translateX(0);
  display: block;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--black);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__item {
  display: block;
  padding: 10px;
}
.mobile-menu__link {
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.mobile-menu__link:focus,
.mobile-menu__link:hover {
  color: var(--light-blue);
}
.mobile-menu__contact-phone {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: var(--light-blue);
  letter-spacing: 0.02em;
  margin-top: 101px;
}
.mobile-menu__contact-mail {
  display: block;
  margin-top: 32px;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--grey);
}
.mobile-menu__social-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.mobile-menu__social-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--light-blue);
  letter-spacing: 0.02em;
  margin-top: 64px;
}
.mobile-menu__social-link::after {
  content: " | ";
  margin-right: 10px;
  color: rgba(33, 33, 33, 0.2);
}
.mobile-menu__linkedin::after {
  content: "";
}
nav {
  display: none;
}
@media screen and(min-width: 480px) {
}
@media screen and(min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  nav {
    display: block;
  }
  .nav__list {
    list-style: none;
    display: inline-flex;
    padding: 0px;
  }
  .nav__item:not(:first-child) {
    margin-left: 46px;
  }
  .nav__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--black);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      text-decoration: none;
      color: var(--light-blue);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
    }
  }

  .nav__link--mainsite::after,
  .nav__link--portfoliosite::after {
    display: flex;
    content: "";
    color: var(--light-blue);
    position: absolute;
    width: 53px;
    height: 4px;
    background: var(--light-blue);
    border-radius: 2px;
    top: 99px;
  }
}
@media screen and(min-width: 1200px) {
  nav {
    margin-left: 93px;
  }
}
