.page-footer {
  width: 100%;
  background-color: #2f303a;
  padding: 60px 15px 60px 15px;
}

.page-footer__contact .contact-link {
  padding-top: 9px;
}
@media screen and(min-width: 480px) {
}
@media screen and(min-width: 768px) {
  .footer-box {
    text-align: center;
  }
}
@media screen and(min-width: 1200px) {
  .page-footer {
    background-color: #2f303a;
    padding: 60px 0px 60px 0px;
  }
  .footer-box {
    text-align: left;
  }
  .page-footer__contact .contact-link {
    padding-top: 9px;
  }
}
