.section-lorem__list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.section-lorem__card {
  height: 120px;
  border: 0px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.section-lorem__heading {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
.section-lorem__describe {
  color: var(--grey);
  font-size: 14px;
  line-height: 1.71;
  margin: 0px;
  padding-top: 10px;
}
.section-lorem__icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  text-align: center;
}

@media screen and(min-width: 480px) {
}
@media screen and(min-width: 768px) {
  .section-lorem__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .section-lorem__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .section-lorem__heading {
    text-align: left;
  }
}
@media screen and(min-width: 1200px) {
  .section-lorem {
    padding-bottom: 0px;
  }
  .section-lorem__item {
    width: 270px;
    flex-basis: calc((100% - 90px) / 4);
  }
}
