.section-main {
  margin: auto;
  background-color: #2f303a;
  text-align: center;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/background-orderbox_mobile.jpg") no-repeat;
  background-size: cover;
  max-width: 480px;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-main {
    background-image: url("background-orderbox_mobile@2x.png");
  }
}
.section-main__heading {
  margin: 0px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.button--section-main {
  margin-top: 30px;
}
@media screen and(min-width: 480px) {
}
@media screen and(min-width: 768px) {
  .section-main {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/background-orderbox_tablet.jpg") no-repeat;
    background-size: cover;
    max-width: 768px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-main {
      background-image: url("background-orderbox_tablet@2x.png");
    }
  }
}
@media screen and(min-width:1200px) {
  .section-main {
    margin: auto;
    background-color: #2f303a;
    text-align: center;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/background-orderbox.jpg") no-repeat;
    background-size: cover;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-main {
      background-image: url("background-orderbox@2x.png");
    }
  }
  .section-main__heading {
    margin: 0px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.06em;
  }
}
