.section-ourteam {
  background-color: #f5f4fa;
}
.section-ourteam__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.section-ourteam__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 90px) / 4);
}
.ourteam__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.ourteam__job-title {
  color: var(--grey);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 16px;
  margin: 0px;
}
