.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  .page-header & {
    padding: 26px 0px;
    align-items: center;
    display: flex;
    background-color: black;
  }
  .page-footer & {
    display: flex;
    gap: 70px;
  }
}
